.teamsSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.teamsSection > h1 {
    font-size: 40px;
    margin-bottom: 50px;
}

.teamsWrapper {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 100px 100px;
    gap: 30px;

}